/* #carouselExample .carousel-item img{
    object-fit: cover;
    object-position: center ;
    overflow: hidden;
    /* height: 100vh; */
    /* height: 225px; 
}*/

.carousel-item{
    width: 100%; /*width you want*/
    height: 500px; /*height you want*/
    overflow: hidden;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.custom-button{
    border-radius: 25px;
}

.custom-width{
    width: 4px;
    border-radius: 3px;
    height: 2.5rem;
}
.sale-container{
    position: relative;
}
.sale-container img{
    min-width: 100%;
    max-height: 750px;
    object-fit: cover;
}

.discount-section{
    width: 500px;
    position:absolute;
    left: 55%;
    top: 60%;
    transform: translate(-60%, -55%);
}




/* newsletter */
.Newsletter{
    max-width: 500px;
}
.Newsletter p{
    max-width: 500px;
}
.Newsletter .input-group{
    max-width: 500px;
}
.Newsletter .form-control{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.Newsletter .btn{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}